.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: var(--black);
}

.menu__counter {
  padding: 0 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 28px;
  border: 1px solid var(--black);
  border-radius: 100%;
}
