.search {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 30px;
}

.search__wrapper {
  position: relative;
  display: flex;
  flex: 1;
  & > img {
    position: absolute;
    left: 10px;
    top: 10px;
  }
}

.search__input {
  flex: 1;
  border: none;
  border-radius: 5px;
  padding: 15px 30px 15px 50px;
  color: #252525;
  background-color: #dedede;

  &::placeholder {
    color: #383838;
  }
}

.search button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: var(--black);
  cursor: pointer;
}
